body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

table {
  width: 86%;
}

td {
  padding: 10px;
  width: 43%;
}

#submit1, #submit2, #submit3 {
  background-color: white;
}

#submit1:hover, #submit2:hover , #submit3:hover{
  background-color: lightgrey;
}

#submit1:active, #submit2:active , #submit3:active{
  background-color: grey;
}

input, #submit1, #submit2, #submit3 {
  border-radius: 10px;
  outline: none;
  padding: 5px;
}

.inGrav, #submit1 {
  border: 1px solid darkgoldenrod;
}

.inElec, #submit2 {
  border: 1px solid darkblue;
}

.inMagn, #submit3 {
  border: 1px solid darkred;
}

.inGrav:focus {
  background-color: gold;
}

.inElec:focus {
  background-color: blue;
}

.inMagn:focus {
  background-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tabs {
  background-color: dimgrey;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  float: left;
  font-size: 32px;
  outline: none;
  padding: 15px;
  width: 25%;
}

#homeButton:hover    {background-color: darkgreen;}
#gravitational:hover {background-color: darkgoldenrod;}
#electric:hover      {background-color: darkblue;}
#magnetic:hover      {background-color: darkred;}

.content {
  color: black;
  display: none;
  font-size: 20px;
  height: 100%;
  padding: 80px 40px;
}

#homeContent {background-color: lightgreen;}
#gravity     {background-color: palegoldenrod;}
#electricity {background-color: lightskyblue;}
#magnets     {background-color: indianred;}
